@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "../bower_components/font-awesome-sass/assets/stylesheets/font-awesome.scss";
@import "./mixins.scss";
@import "./Imports/animate.scss";


/**
 * BOX-SIZING
 */

// *, *:before, *:after {
//     box-sizing: border-box;
// }

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}

/**
 * GENERAL
 */

img {max-width:100%;}

body {
    transition: opacity .25s ease;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: #333;
}

.side {
     -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn 2s; /* Firefox < 16 */
        -ms-animation: fadeIn 2s; /* Internet Explorer */
         -o-animation: fadeIn 2s; /* Opera < 12.1 */
            animation: fadeIn 2s;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 50%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
}
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}


.side-left{
    position: relative;
    background-image: url("../Images/Mark-Chavarria-motor.jpg");
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 0;
    width: 100%;
    height: 700px;
    color: white;
    // outline: 1px solid #47a3da;
}
#markchavarria{
    font-size: 52px;
    font-family: Century Gothic;
}
.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 1em;
    width: 100%;
    cursor: pointer;
    margin-top: 49px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    font-family: Georgia, Times, Times New Roman, serif;
}
// .intro-content.right{
//     margin-top: 49px;
// }
// .intro-content.left{
//     margin-top: 49px;
// }
.map{
     transform: translate(0px, 35px);
}
#map{
    position: relative;
    min-height: 209px;
    width: 450px;
    display: block;

    margin: auto auto;

}
#youtubevideos{
    min-height: 209px;
    max-width: 300px;
}
#player{
    max-height: 282px;
    max-width: 500px;
}
.iframe{
    max-width: 500px;
}

.stuntman{
    margin: 6px auto;
    font-family: Century Gothic;
}
.stuntcoordinator{
    transform: translateY(22px);
    font-family: Century Gothic;
}
.subtext {
    font-size: 17px;
}

.fa-2x{
    color: white;
    display: block;
}

a{
    text-decoration: none;
}
.fa-2x:hover{
    opacity: 1;
    color: blue;
    // -webkit-stroke-width: 20.3px;
    // -webkit-stroke-color: white;
    text-shadow: 1px 0px  20px #00ffff;

}
.markpagemenu ul{
        text-align: center;
       list-style: none;
       letter-spacing: 1px;
       margin-top: 0;
       margin-bottom: 0;
      min-height: 950px;
       background-color: rgba(41,105,232,0.9);
        padding: 0;
}
.markpagemenu li{
        font-size: 50px;
        font-family: Tahoma, Geneva, sans-serif;
        color: white;
}
#storyli{
    padding-top: 136px;
}
i#x{
        height: 25px;
    margin-top: 50px;
    left: 35px;
    width: 25px;
    margin: 0 5px 0 5px;
    z-index: 9999;
    padding: 55px;
    color: white;

}
i#threeline-btn{
    height: 25px;
    margin-top: 50px;
    left: 35px;
    width: 25px;
    margin: 0 5px 0 5px;
    z-index: 9999;
    padding: 23px;
    color: white;
}
// i#threelinebtnright{
//     float: left;
//     margin-top: 15px;
//     margin-left: 15px;
// }
i.fa-times{
    color: white;
}
.marknav-btn{
   background-color: rgba(41,105,232,0.9);
    // background-color: rgb(250,0,0.3);
}
.marknav-btn span{
    display: block;
    width: 25px;
    margin-left: 50px;
    font-size: 2em;

}
.lrgpageimage{
    background-image: url("../Images/MarkAirKick.png");
    background-repeat: no-repeat;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
    background-size: 100% 100%;
 }
 .markheadshot{
   content: url("../Images/mark-chavarria.jpg");
    width: 300px;
    margin-top: 36px;
    margin-left: 43px;
 }
 .undowrapper{
         border: 1px solid ;
    border-color: rgba(45,39,193,0.9);
    margin: 15px;
    max-width: 1592px;
    height: 801px;
 }
 .undowrapper h2{
      color: #333;
text-align: center;
width: 100%;
margin: 7px 0px 2px 0px;
font-family:   Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
letter-spacing: 1px;
 }
 .markparagraphs{
      float:right;
    position: relative;
    display: inline-block;
    max-width: 766px;
    margin-right: 53px;
    font: 20px Roboto,Helvetica Neue,Helvetica,Arial,sans-serif
 }
 #pone{
    transform: translateY(11%);
 }
 #ptwo{
    transform: translateY(-112%);
 }
 #pthree{
    transform: translateY(-70%);
 }
 .trainingpagemenu ul{
        text-align: center;
       list-style: none;
       margin-top: 0;
       margin-bottom: 0;
      min-height: 950px;
       background-color: rgba(45,39,193,0.9);
        padding: 0;
}
.trainingpagemenu li{
        font-size:45px;
        font-family: Georgia, Times, Times New Roman, serif;
        color: white;
}
#trainingli{
    padding-top: 136px;

}
.trainingmenulist a{
    color: white;
}

.trainingnav-btn{
   background-color: rgba(45,39,193,0.9);
    // background-color: rgb(250,0,0.3);
}
.trainingnav-btn span{
    display: block;
    width: 25px;
    margin-left: 50px;
    font-size: 2em;

}
.traininglrgpageimage{
    background-image: url("../Images/StntClass.jpg");
      background-repeat: no-repeat;
    height: 100%;
    max-width: 1920px;
    max-height: 840px;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
    background-size: 100% 100%;
 }
.menusections{

    font-size: 35px;
 }
 .storydiv{
    height: 846px;
 }
section {
        width: 100%;
    overflow: hidden;
    display: block;
    background-color: white;
    color: black;
 }
 .workshopdiv{
       border: 1px solid ;
    border-color: rgba(45,39,193,0.9);
    margin: 15px;
    max-width: 1592px;
 }
 .workshopdiv h2{
    color: #333;
text-align: center;
width: 100%;
margin: 7px 0px 2px 0px;
font-family:   Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
letter-spacing: 1px;
 }
 .traininggallerydiv{
    background-image: url("../Images/combat2forHS[1].jpg");
          background-repeat: no-repeat;
          height: 451px;
          min-width: 700px;
    max-height: 840px;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
 }
 .traininggalleryborder{
      position: relative;
  left: 0;
  top: 5%;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  height: 87%;
  border: 3px solid #fff;
  background: transparent;
  opacity: 0.25;
  z-index: 999;
 }
 #jointheconvwrapper{
    min-height: 451px;
}

// .storydiv h2{
//     color: #7A4400;
// position: relative;
// width: 100%;
// margin: 0px 0px 58px 0px;
// font: 10px Tahoma, sans-serif;
// letter-spacing: 1px;
//  }
.wrapper h1 {
    color: rgba(45,39,193,0.9);
    position: relative;
    float: left;
    width: 239px;
    font: 30px Georgia, Times, Times New Roman, serif;
    margin-top: -6px;
 }
 @media screen {
    .wrapper { max-width: 740px; padding: 60px 0px 100px 0px;}
 }
  @media screen {
    .wrapper {max-width: 890px; width: 80%; overflow: hidden;}
 }
 .wrapper{
    width: 890px;
    margin: 0px auto;
    padding: 60px 0px 180px 0px;
    overflow: auto;
 }
.upcomingworkshops{
    color: #333;
    text-align: center;
    width: 1222px;
    font: 30px  Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;;

 }
 .stuntwrapper{
    width: 1200px;
    height: 500px;
    margin: 0px 50px;


 }
 hr{
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   height: 2px;
   max-width: 400px;

 }
 hr.colored{
    border-color: rgba(45,39,193,0.9);
 }

 p.locationtime{
color: #333;
font: 20px Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
 }

 .empty{
    width: 25px;
    height: 75px;
 }
 .marker{
    display: inline-block;
    position: relative;

 }
 .fa-map-marker{
    color: #333;
    position: relative;
    width: 52px;
 }

p.fadetails{
  color: #333;
   font: 20px Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
   width: 256px;
   margin-left: 51px;
   margin-bottom: 32px;
}
#stagecombat{
    margin-left: 68px;
}
.fa-info-circle{
    color: #333;
    position: relative;
    width: 52px;
}
 #clock{
   color: #333;
    position: relative;
    width: 52px;
    margin-left: 31px;
 }
 #info{
    margin-left: 60px;
 }
 #traininginfo{
    text-align: center;
    margin-left: 39px;
 }
 #trainingtime{
    width: 324px;
    transform: translateY(-53px);
    text-align: center;
    margin-left: 46px;
 }
#traininglocation{
    width: 324px;
    text-align: center;
    transform: translateY(-30px);
}
#trainingdate{
    margin-left: 25px;
}
#trainingregistrationbtn{
    margin: auto auto;
    width: 76px;
    transform: translateY(-239px);
}
 #classregisterbtn{
    position: relative;
    background-color:rgba(45,39,193,0.9);
    color:  white;
    height: 35px;
    font-size: 30px;
    line-height: 30px;

 }
  .contactdiv{
    background-attachment: fixed;
    color: whitesmoke;
    background-image: url("../Images/Dawn-Planet-Apes_SF_apes_cop.jpg");
          background-repeat: no-repeat;
          min-width: 700px;
    height: 451px;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
    background-size: cover;
 }
 #trainingcontactwrapper{
    margin-left: 85px;
    margin-right: 85px;
    min-height: 400px;
 }
 .bounceInRight{
     -webkit-animation-delay: bounceInRight 4s;
     animation-delay: bounceInRight 4s;
         -webkit-animation: bounceInRight 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bounceInRight 4s; /* Firefox < 16 */
        -ms-animation: bounceInRight 4s; /* Internet Explorer */
         -o-animation: bounceInRight 4s; /* Opera < 12.1 */
            animation: bounceInRight 4s;
}
@keyframes bounceInRight{
     0% {transform: translate3d(3000px, 0 , 0);}
    60% {transform: translate3d(-25px, 0 , 0);}
    75% {transform: translate3d(10px, 0 , 0);}
    90% {transform: translate3d(-5px, 0 , 0);}
    100%{transform:none;}
}
.bounceInUp{
        -webkit-animation-delay: bounceInUp 4s;
     animation-delay: bounceInUp 4s;
         -webkit-animation: bounceInUp 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bounceInUp 4s; /* Firefox < 16 */
        -ms-animation: bounceInUp 4s; /* Internet Explorer */
         -o-animation: bounceInUp 4s; /* Opera < 12.1 */
            animation: bounceInUp 4s;
}
@keyframes bounceInUp{

}
.fa-phone-square{
margin-left: 57px;
}
#contactmapmarker{
    color: whitesmoke;
    margin-left: 50px;
}
.fa-envelope-o{
    margin-left: 105px;
}

.call{
    display: inline-block;
    padding: 10px;
    margin-right: 160px;
    font-size: 25px;
}
.email{
    display: inline-block;
    margin-right: 160px;
    margin-left: 80px;
        font-size: 25px;

}
.cityofhouston{
    display: inline-block;
        font-size: 25px;

}
.socialmedia{
    display: block;
    text-align: center;
}
#trainingcontact{
    color: whitesmoke;
    text-align: center;
    padding-top: 65px;
}
.left-sideimg{
   // background-image: url("../Images/StntClass.jpg");
   //  background-repeat: no-repeat;
  background-color: rgba(45,39,193,0.9);
    height: 100%;
    max-width: 1920px;
    height: 1000px;
   // -webkit-background-size: 100%;
   // -moz-background-size: 100%;
   // -o-background-size: 100%;
   //  background-size: cover;
}
.commentsfrommembers{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: white;
    border-radius:4px 0 0 4px;
    margin-left: 80px;
    display: inline-block;
    font:  Georgia, Times, Times New Roman, serif;
}

.comments{
    position:relative;
    margin: auto;
    transform: translateY(50%);
    padding: 10px;
}
.comment{
    margin-left: 20px;
}
.commentheader{
    text-align: center;
}
.login-signupview{
    background-color: rgba(45,39,193,0.9);
     min-width: 700px;
    min-height: 735px;

}
.loginandsignup{
    position:relative;
    background-color:white;
    margin: auto;
    padding: 23px;
    transform: translateY(14%);
    border: black;
    border: 10px;
    border-radius: 15px;
    width: 392px;
    box-shadow: 0 0 31px #00ffff;
    border-radius: 10px;
    text-align: center;
    font:  Georgia, Times, Times New Roman, serif;
}
button {
    border-radius: 10px;
}
input {
    width: 30ch;
}
.lastUnit{
    display:inline-block;
    float: none;
    width: auto;
    transform: translateY(10px);
}
.attendee-section{
    max-width: 232px;
    height: 274px;
    border-radius:0 4px 4px 0;
    background-color: white;
    transform: translateY(-144px);
    font:  Georgia, Times, Times New Roman, serif;
}
.attendee-section h3{
    font:  1.3em Georgia, Times, Times New Roman, serif;
    text-align: center;
}
.attendee-section button{
    margin-left: 25px;
}







