@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "../bower_components/font-awesome-sass/assets/stylesheets/font-awesome.scss";
@import "./mixins.scss";
@import "./Imports/animate.scss";


/**
 * BOX-SIZING
 */

// *, *:before, *:after {
//     box-sizing: border-box;
// }

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

.pace .pace-progress {
    background: #2299dd;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transition: all 1s ease;
}

/**
 * GENERAL
 */

img {max-width:100%;}

body {
    transition: opacity .25s ease;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: #333;
}
.splitlayout {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
}
.side {
     -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn 2s; /* Firefox < 16 */
        -ms-animation: fadeIn 2s; /* Internet Explorer */
         -o-animation: fadeIn 2s; /* Opera < 12.1 */
            animation: fadeIn 2s;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 50%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
}
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

.overlay {
    position: absolute;
    top: 0;
    left:0;
    z-index: 499;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.side-left .overlay {
    background: rgba(0,0,0,0.7);
}
.side-right .overlay {
    background: rgba(0,0,0,0.3);
}
.side-left{
    background-image: url("../Images/MarkAirKick.png");
    background-position-x: 0%;
    background-position-y: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 0;
    color: white;
    // outline: 1px solid #47a3da;
}
.side-right {
     background-image: url("../Images/StntClass.jpg");
    background-position-x: 0%;
    background-position-y: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    right: 0;
    color: white;
    outline: 1px solid #47a3da;
}
.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 1em;
    width: 50%;
    cursor: pointer;
    margin-top: 49px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    font-family: Georgia, Times, Times New Roman, serif;
}
.intro-content.right{
    margin-top: 49px;
}
.intro-content.left{
    margin-top: 49px;
}
.map{
     transform: translate(0px, 35px);
}
#map{
    position: relative;
    min-height: 209px;
    width: 450px;
    display: block;

    margin: auto auto;

}
#youtubevideos{
    min-height: 209px;
    max-width: 300px;
}
#player{
    max-height: 282px;
    max-width: 500px;
}
.iframe{
    max-width: 500px;
}

// .intro-content > span{
//     display: block;
//     white-space: nowrap;
//     color: white;
//     font-size: 50px;
// }


// .intro-content h1 > span:first-child {
//     // font-weight: 300;
//     font-size: .7em;
//     font-family: Tahoma, Geneva, sans-serif;
// }
// .intro-content h1 > span:nth-child(2){
//     position: relative;
//     margin-top: -0.5em;
//     padding: 0.8em;
//     text-transform: uppercase;
//     letter-spacing: 1px;
// }
.stuntman{
    margin: 6px auto;
}
.stuntcoordinator{
    transform: translateY(22px);
}
.subtext {
    font-size: 17px;
}

.fa-2x{
    color: white;
    display: block;
}

a{
    text-decoration: none;
}
.fa-2x:hover{
    opacity: 1;
    color: blue;
    // -webkit-stroke-width: 20.3px;
    // -webkit-stroke-color: white;
    text-shadow: 1px 0px  20px #00ffff;

}
.markpagemenu ul{
        text-align: center;
       list-style: none;
       letter-spacing: 1px;
       margin-top: 0;
       margin-bottom: 0;
      min-height: 950px;
       background-color: rgba(41,105,232,0.9);
        padding: 0;
}
.markpagemenu li{
        font-size: 50px;
        font-family: Tahoma, Geneva, sans-serif;
        color: white;
}
#storyli{
    padding-top: 136px;
}
i#x{
        height: 25px;
    margin-top: 50px;
    left: 35px;
    width: 25px;
    margin: 0 5px 0 5px;
    z-index: 9999;
    padding: 55px;
    color: white;

}
i#threeline-btn{
    height: 25px;
    margin-top: 50px;
    left: 35px;
    width: 25px;
    margin: 0 5px 0 5px;
    z-index: 9999;
    padding: 23px;
    color: white;
}
// i#threelinebtnright{
//     float: left;
//     margin-top: 15px;
//     margin-left: 15px;
// }
i.fa-times{
    color: white;
}
.marknav-btn{
   background-color: rgba(41,105,232,0.9);
    // background-color: rgb(250,0,0.3);
}
.marknav-btn span{
    display: block;
    width: 25px;
    margin-left: 50px;
    font-size: 2em;

}
.lrgpageimage{
    background-image: url("../Images/MarkAirKick.png");
    background-repeat: no-repeat;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
    background-size: 100% 100%;
 }
 .trainingpagemenu ul{
        text-align: center;
       list-style: none;
       margin-top: 0;
       margin-bottom: 0;
      min-height: 950px;
       background-color: rgba(45,39,193,0.9);
        padding: 0;
}
.trainingpagemenu li{
        font-size:45px;
        font-family: Georgia, Times, Times New Roman, serif;
        color: white;
}
#trainingli{
    padding-top: 136px;

}
.trainingmenulist a{
    color: white;
}

.trainingnav-btn{
   background-color: rgba(45,39,193,0.9);
    // background-color: rgb(250,0,0.3);
}
.trainingnav-btn span{
    display: block;
    width: 25px;
    margin-left: 50px;
    font-size: 2em;

}
.traininglrgpageimage{
    background-image: url("../Images/StntClass.jpg");
      background-repeat: no-repeat;
    height: 100%;
    max-width: 1920px;
    max-height: 840px;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
    background-size: 100% 100%;
 }
.menusections{

    font-size: 35px;
 }
section {
        width: 100%;
    overflow: hidden;
    display: block;
    background-color: white;
    color: black;
 }
 .workshopdiv{
       border: 1px solid ;
    border-color: rgba(45,39,193,0.9);
    margin: 15px;
    max-width: 1592px;
 }
 .workshopdiv h2{
    color: #333;
text-align: center;
width: 100%;
margin: 7px 0px 2px 0px;
font-family:   Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
letter-spacing: 1px;
 }
 .traininggallerydiv{
    background-image: url("../Images/Alicia Vela-Bailey Stunt.jpg");
          background-repeat: no-repeat;
          height: 451px;
          min-width: 700px;
    max-height: 840px;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
    background-size: 100% 100%;
 }
.storydiv h2{
    color: #7A4400;
position: relative;
width: 100%;
margin: 0px 0px 58px 0px;
font: 10px Tahoma, sans-serif;
letter-spacing: 1px;
 }
.wrapper h1 {
    color: rgba(45,39,193,0.9);
    position: relative;
    float: left;
    width: 239px;
    font: 30px Georgia, Times, Times New Roman, serif;
    margin-top: -6px;
 }
 @media screen {
    .wrapper { max-width: 740px; padding: 60px 0px 100px 0px;}
 }
  @media screen {
    .wrapper {max-width: 890px; width: 80%; overflow: hidden;}
 }
 .wrapper{
    width: 890px;
    margin: 0px auto;
    padding: 60px 0px 180px 0px;
    overflow: auto;
 }
#upcomingworkshops{
    color: #333;
    text-align: center;
    width: 1222px;
    font: 30px  Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;;

 }
 .stuntwrapper{
    width: 1200px;
    height: 500px;
    margin: 0px 50px;


 }
 hr{
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   height: 2px;

 }
 hr.colored{
    border-color: rgba(45,39,193,0.9);
 }

 p.locationtime{
color: #333;
font: 20px Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
 }

 .empty{
    width: 25px;
    height: 75px;
 }
 .marker{
    display: inline-block;
    position: relative;

 }
 .fa-map-marker{
    color: #333;
    position: relative;
    width: 52px;
 }
// p#fadate{
//     margin-left: 0px;
//     margin-bottom: 3px;
//     margin-left: 30px;
//     float: left;
//     font: 20px Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
// }
// p#fatime{

//    position: relative;
//    font: 20px Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
//    width: 129px;
//    height: 28px;
//    margin-bottom: 42px;
//    margin-right: 0px;
//    margin-left: 42px;
//    margin-top: 0px;
// }
// p#faplace{
//     margin-left: 82px;
// }
// p#faaddress{
//     margin-left: 0px;
//     transform: translateX(-5px);
//     width: 490px;
// }
// p#faaddresscity{
//     margin-left: 52px;
//     width: 490px;
// }
p.fadetails{
  color: #333;
   font: 20px Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
   width: 256px;
   margin-left: 51px;
   margin-bottom: 32px;
}
#stagecombat{
    margin-left: 68px;
}
.fa-info-circle{
    color: #333;
    position: relative;
    width: 52px;
}
 #clock{
   color: #333;
    position: relative;
    width: 52px;
    margin-left: 31px;
 }
 #info{
    margin-left: 60px;
 }
 #traininginfo{
    text-align: center;
    margin-left: 39px;
 }
 #trainingtime{
    width: 324px;
    transform: translateY(-53px);
    text-align: center;
 }
#traininglocation{
    width: 324px;
    text-align: center;
    transform: translateY(-30px);
}
#trainingdate{
    margin-left: 25px;
}
#trainingregistrationbtn{
    margin: auto auto;
    width: 76px;
    transform: translateY(-239px);
}
 #classregisterbtn{
    position: relative;
    background-color:rgba(45,39,193,0.9);
    color:  white;
    height: 35px;
    font-size: 30px;
    line-height: 30px;

 }
  .contactdiv{
    background-attachment: fixed;
    color: whitesmoke;
    background-image: url("../Images/serenity-maidenhead-fight.jpg");
          background-repeat: no-repeat;
          min-width: 700px;
    height: 451px;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
    background-size: cover;
 }
 #trainingcontactwrapper{
    margin-left: 85px;
    margin-right: 85px;
    min-height: 400px;
 }
 .bounceInRight{
     -webkit-animation-delay: bounceInRight 4s;
     animation-delay: bounceInRight 4s;
         -webkit-animation: bounceInRight 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bounceInRight 4s; /* Firefox < 16 */
        -ms-animation: bounceInRight 4s; /* Internet Explorer */
         -o-animation: bounceInRight 4s; /* Opera < 12.1 */
            animation: bounceInRight 4s;
}
@keyframes bounceInRight{
     0% {transform: translate3d(3000px, 0 , 0);}
    60% {transform: translate3d(-25px, 0 , 0);}
    75% {transform: translate3d(10px, 0 , 0);}
    90% {transform: translate3d(-5px, 0 , 0);}
    100%{transform:none;}
}
.bounceInUp{
        -webkit-animation-delay: bounceInUp 4s;
     animation-delay: bounceInUp 4s;
         -webkit-animation: bounceInUp 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: bounceInUp 4s; /* Firefox < 16 */
        -ms-animation: bounceInUp 4s; /* Internet Explorer */
         -o-animation: bounceInUp 4s; /* Opera < 12.1 */
            animation: bounceInUp 4s;
}
@keyframes bounceInUp{

}
.fa-phone-square{
margin-left: 57px;
}
#contactmapmarker{
    color: whitesmoke;
    margin-left: 50px;
}
.fa-envelope-o{
    margin-left: 105px;
}

.call{
    display: inline-block;
    padding: 10px;
    margin-right: 160px;
    font-size: 25px;
}
.email{
    display: inline-block;
    margin-right: 160px;
    margin-left: 80px;
        font-size: 25px;

}
.cityofhouston{
    display: inline-block;
        font-size: 25px;

}
.socialmedia{
    display: block;
    text-align: center;
}
#trainingcontact{
    color: whitesmoke;
    text-align: center;
    padding-top: 65px;
}
.left-sideimg{
   // background-image: url("../Images/StntClass.jpg");
   //  background-repeat: no-repeat;
  background-color: rgba(45,39,193,0.9);
    height: 100%;
    max-width: 1920px;
    height: 1000px;
   // -webkit-background-size: 100%;
   // -moz-background-size: 100%;
   // -o-background-size: 100%;
   //  background-size: cover;
}
.commentsfrommembers{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: white;
    border-radius:4px 0 0 4px;
    margin-left: 80px;
    display: inline-block;
    font:  Georgia, Times, Times New Roman, serif;
}

.comments{
    position:relative;
    margin: auto;
    transform: translateY(50%);
    padding: 10px;
}
.comment{
    margin-left: 20px;
}
.commentheader{
    text-align: center;
}
.login-signupview{
    background-color: rgba(45,39,193,0.9);
     min-width: 700px;
    min-height: 735px;

}
.loginandsignup{
    position:relative;
    background-color:white;
    margin: auto;
    padding: 23px;
    transform: translateY(14%);
    border: black;
    border: 10px;
    border-radius: 15px;
    width: 392px;
    box-shadow: 0 0 31px #00ffff;
    border-radius: 10px;
    text-align: center;
    font:  Georgia, Times, Times New Roman, serif;
}
button {
    border-radius: 10px;
}
input {
    width: 30ch;
}
.lastUnit{
    display:inline-block;
    float: none;
    width: auto;
    transform: translateY(10px);
}
.attendee-section{
    max-width: 232px;
    height: 274px;
    border-radius:0 4px 4px 0;
    background-color: white;
    transform: translateY(-144px);
    font:  Georgia, Times, Times New Roman, serif;
}
.attendee-section h3{
    font:  1.3em Georgia, Times, Times New Roman, serif;
    text-align: center;
}
.attendee-section button{
    margin-left: 25px;
}

  #markwarped {position: relative; display: block; width:341px; height:103px; transform:translateX(-7px);}

                     #markwarped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #markwarped span{font-family:Georgia;font-size:43px;font-weight:regular;font-style:normal;
                     line-height:0.1; white-space:pre; overflow:visible; padding:0px;}

                     #markwarped .w0 {-moz-transform: rotate(-0.85rad);-webkit-transform: rotate(-0.85rad);-o-transform:
                     rotate(-0.85rad);-ms-transform: rotate(-0.85rad); transform: rotate(-0.85rad);
                     width: 34px; height: 24px; left: 83.59px; top: 73.74px;}

                     #markwarped .w1 {-moz-transform: rotate(-0.25rad);-webkit-transform: rotate(-0.25rad);-o-transform:
                     rotate(-0.25rad);-ms-transform: rotate(-0.25rad); transform: rotate(-0.25rad);
                     width: 27px; height: 24px; left: 132.24px; top: 46.57px;}

                     #markwarped .w2 {-moz-transform: rotate(0.3rad);-webkit-transform: rotate(0.3rad);-o-transform:
                     rotate(0.3rad);-ms-transform: rotate(0.3rad); transform: rotate(0.3rad);
                     width: 25px; height: 24px; left: 181.6px; top: 48.22px;}

                     #markwarped .w3 {-moz-transform: rotate(0.86rad);-webkit-transform: rotate(0.86rad);-o-transform:
                     rotate(0.86rad);-ms-transform: rotate(0.86rad); transform: rotate(0.86rad);
                     width: 27px; height: 24px; left: 220.94px; top: 74.93px;
}
#chavarriawarped {position: relative; display: block; width:348px;padding-top:213px;transform:translateY(-200px);}//height: 331px

                     #chavarriawarped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #chavarriawarped span{font-family:Georgia;font-size:43px;font-weight:regular;font-style:normal;
                     line-height:0.2; white-space:pre; overflow:visible; padding:0px;}

                     #chavarriawarped .w0 {-moz-transform: rotate(7.84rad);-webkit-transform: rotate(7.84rad);-o-transform:
                     rotate(7.84rad);-ms-transform: rotate(7.84rad); transform: rotate(7.84rad);
                     width: 0px; left: 24px; top: 130.98px;}//height: 24px;

                     #chavarriawarped .w1 {-moz-transform: rotate(7.6rad);-webkit-transform: rotate(7.6rad);-o-transform:
                     rotate(7.6rad);-ms-transform: rotate(7.6rad); transform: rotate(7.6rad);
                     width: 25px; height: 24px; left: 16.06px; top: 166.09px;}

                     #chavarriawarped .w2 {-moz-transform: rotate(7.26rad);-webkit-transform: rotate(7.26rad);-o-transform:
                     rotate(7.26rad);-ms-transform: rotate(7.26rad); transform: rotate(7.26rad);
                     width: 27px; height: 24px; left: 34.97px; top: 210.61px;}

                     #chavarriawarped .w3 {-moz-transform: rotate(6.91rad);-webkit-transform: rotate(6.91rad);-o-transform:
                     rotate(6.91rad);-ms-transform: rotate(6.91rad); transform: rotate(6.91rad);
                     width: 27px; height: 24px; left: 69.32px; top: 246.61px;}

                     #chavarriawarped .w4 {-moz-transform: rotate(6.57rad);-webkit-transform: rotate(6.57rad);-o-transform:
                     rotate(6.57rad);-ms-transform: rotate(6.57rad); transform: rotate(6.57rad);
                     width: 27px; height: 24px; left: 113.81px; top: 268.87px;}

                     #chavarriawarped .w5 {-moz-transform: rotate(6.22rad);-webkit-transform: rotate(6.22rad);-o-transform:
                     rotate(6.22rad);-ms-transform: rotate(6.22rad); transform: rotate(6.22rad);
                     width: 27px; height: 24px; left: 163.21px; top: 274.79px;}

                     #chavarriawarped .w6 {-moz-transform: rotate(5.89rad);-webkit-transform: rotate(5.89rad);-o-transform:
                     rotate(5.89rad);-ms-transform: rotate(5.89rad); transform: rotate(5.89rad);
                     width: 25px; height: 24px; left: 211.78px; top: 264.04px;}

                     #chavarriawarped .w7 {-moz-transform: rotate(5.56rad);-webkit-transform: rotate(5.56rad);-o-transform:
                     rotate(5.56rad);-ms-transform: rotate(5.56rad); transform: rotate(5.56rad);
                     width: 25px; height: 24px; left: 252.34px; top: 238.8px;}

                     #chavarriawarped .w8 {-moz-transform: rotate(5.27rad);-webkit-transform: rotate(5.27rad);-o-transform:
                     rotate(5.27rad);-ms-transform: rotate(5.27rad); transform: rotate(5.27rad);
                     width: 13px; height: 24px; left: 285.43px; top: 206.89px;}

                     #chavarriawarped .w9 {-moz-transform: rotate(4.97rad);-webkit-transform: rotate(4.97rad);-o-transform:
                     rotate(4.97rad);-ms-transform: rotate(4.97rad); transform: rotate(4.97rad);
                     width: 27px; height: 24px; left: 295.53px; top: 167.61px;}

                     #chavarriawarped .w10 {-moz-transform: rotate(4.72rad);-webkit-transform: rotate(4.72rad);-o-transform:
                     rotate(4.72rad);-ms-transform: rotate(4.72rad); transform: rotate(4.72rad);
                     width: 0px; height: 24px; left: 313.99px; top: 131.54px;}

                     #chavarriawarped .w11 {-moz-transform: rotate(4.56rad);-webkit-transform: rotate(4.56rad);-o-transform:
                     rotate(4.56rad);-ms-transform: rotate(4.56rad); transform: rotate(4.56rad);
                     width: 0px; height: 24px; left: 312.41px; top: 108.62px;
}
  #trainingwarped {position: relative; display: block; width:348px;transform:translateY(-200px);padding-top: 213px;}//height:331px

                     #trainingwarped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #trainingwarped span{font-family:GEOrGIA;font-size:43px;font-weight:regular;font-style:normal;
                     line-height:0.2; white-space:pre; overflow:visible; padding:0px;}

                     #trainingwarped .w0 {-moz-transform: rotate(7.58rad);-webkit-transform: rotate(7.58rad);-o-transform:
                     rotate(7.58rad);-ms-transform: rotate(7.58rad); transform: rotate(7.58rad);
                     width: 0px; height: 24px; left: 29.36px; top: 169.09px;}

                     #trainingwarped .w1 {-moz-transform: rotate(7.34rad);-webkit-transform: rotate(7.34rad);-o-transform:
                     rotate(7.34rad);-ms-transform: rotate(7.34rad); transform: rotate(7.34rad);
                     width: 23px; height: 24px; left: 31.01px; top: 200.89px;}

                     #trainingwarped .w2 {-moz-transform: rotate(7.01rad);-webkit-transform: rotate(7.01rad);-o-transform:
                     rotate(7.01rad);-ms-transform: rotate(7.01rad); transform: rotate(7.01rad);
                     width: 25px; height: 24px; left: 59.18px; top: 237.49px;}

                     #trainingwarped .w3 {-moz-transform: rotate(6.68rad);-webkit-transform: rotate(6.68rad);-o-transform:
                     rotate(6.68rad);-ms-transform: rotate(6.68rad); transform: rotate(6.68rad);
                     width: 27px; height: 24px; left: 99.32px; top: 263.67px;}

                     #trainingwarped .w4 {-moz-transform: rotate(6.38rad);-webkit-transform: rotate(6.38rad);-o-transform:
                     rotate(6.38rad);-ms-transform: rotate(6.38rad); transform: rotate(6.38rad);
                     width: 13px; height: 24px; left: 147.84px; top: 274.25px;}

                     #trainingwarped .w5 {-moz-transform: rotate(6.08rad);-webkit-transform: rotate(6.08rad);-o-transform:
                     rotate(6.08rad);-ms-transform: rotate(6.08rad); transform: rotate(6.08rad);
                     width: 27px; height: 24px; left: 183.63px; top: 272.24px;}

                     #trainingwarped .w6 {-moz-transform: rotate(5.79rad);-webkit-transform: rotate(5.79rad);-o-transform:
                     rotate(5.79rad);-ms-transform: rotate(5.79rad); transform: rotate(5.79rad);
                     width: 13px; height: 24px; left: 230.97px; top: 257.81px;}

                     #trainingwarped .w7 {-moz-transform: rotate(5.49rad);-webkit-transform: rotate(5.49rad);-o-transform:
                     rotate(5.49rad);-ms-transform: rotate(5.49rad); transform: rotate(5.49rad);
                     width: 27px; height: 24px; left: 258.33px; top: 232.22px;}

                     #trainingwarped .w8 {-moz-transform: rotate(5.14rad);-webkit-transform: rotate(5.14rad);-o-transform:
                     rotate(5.14rad);-ms-transform: rotate(5.14rad); transform: rotate(5.14rad);
                     width: 27px; height: 24px; left: 286.83px; top: 191.44px;}

                     #trainingwarped .w9 {-moz-transform: rotate(4.89rad);-webkit-transform: rotate(4.89rad);-o-transform:
                     rotate(4.89rad);-ms-transform: rotate(4.89rad); transform: rotate(4.89rad);
                     width: 0px; height: 24px; left: 311.5px; top: 156.79px;}

                     #trainingwarped .w10 {-moz-transform: rotate(4.73rad);-webkit-transform: rotate(4.73rad);-o-transform:
                     rotate(4.73rad);-ms-transform: rotate(4.73rad); transform: rotate(4.73rad);
                     width: 0px; height: 24px; left: 313.94px; top: 133.94px;}

                     #trainingwarped .w11 {-moz-transform: rotate(4.56rad);-webkit-transform: rotate(4.56rad);-o-transform:
                     rotate(4.56rad);-ms-transform: rotate(4.56rad); transform: rotate(4.56rad);
                     width: 0px; height: 24px; left: 312.41px; top: 108.62px;
}
 #stuntwarped {position: relative; display: block; width:341px; height:103px;transform: translateY(37px);}

                     #stuntwarped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #stuntwarped span{font-family:Georgia;font-size:43px;font-weight:regular;font-style:normal;
                     line-height:0.1; white-space:pre; overflow:visible; padding:0px;}

                     #stuntwarped .w0 {-moz-transform: rotate(-1.02rad);-webkit-transform: rotate(-1.02rad);-o-transform:
                     rotate(-1.02rad);-ms-transform: rotate(-1.02rad); transform: rotate(-1.02rad);
                     width: 0px; height: 24px; left: 64.69px; top: 64.81px;}

                     #stuntwarped .w1 {-moz-transform: rotate(-0.74rad);-webkit-transform: rotate(-0.74rad);-o-transform:
                     rotate(-0.74rad);-ms-transform: rotate(-0.74rad); transform: rotate(-0.74rad);
                     width: 21px; height: 24px; left: 75.57px; top: 39.15px;}

                     #stuntwarped .w2 {-moz-transform: rotate(-0.38rad);-webkit-transform: rotate(-0.38rad);-o-transform:
                     rotate(-0.38rad);-ms-transform: rotate(-0.38rad); transform: rotate(-0.38rad);
                     width: 23px; height: 24px; left: 112.56px; top: 15.5px;}

                     #stuntwarped .w3 {-moz-transform: rotate(0.01rad);-webkit-transform: rotate(0.01rad);-o-transform:
                     rotate(0.01rad);-ms-transform: rotate(0.01rad); transform: rotate(0.01rad);
                     width: 27px; height: 24px; left: 157.49px; top: 7.01px;}

                     #stuntwarped .w4 {-moz-transform: rotate(0.42rad);-webkit-transform: rotate(0.42rad);-o-transform:
                     rotate(0.42rad);-ms-transform: rotate(0.42rad); transform: rotate(0.42rad);
                     width: 27px; height: 24px; left: 205.96px; top: 17.82px;}

                     #stuntwarped .w5 {-moz-transform: rotate(0.81rad);-webkit-transform: rotate(0.81rad);-o-transform:
                     rotate(0.81rad);-ms-transform: rotate(0.81rad); transform: rotate(0.81rad);
                     width: 23px; height: 24px; left: 246.84px; top: 45.45px;}

                     #stuntwarped .w6 {-moz-transform: rotate(1.09rad);-webkit-transform: rotate(1.09rad);-o-transform:
                     rotate(1.09rad);-ms-transform: rotate(1.09rad); transform: rotate(1.09rad);
                     width: 0px; height: 24px; left: 278.25px; top: 73.49px;}

                     #stuntwarped .w7 {-moz-transform: rotate(1.28rad);-webkit-transform: rotate(1.28rad);-o-transform:
                     rotate(1.28rad);-ms-transform: rotate(1.28rad); transform: rotate(1.28rad);
                     width: 0px; height: 24px; left: 286.85px; top: 94.78px;}

                     #stuntwarped .w8 {-moz-transform: rotate(5.14rad);-webkit-transform: rotate(5.14rad);-o-transform:
                     rotate(5.14rad);-ms-transform: rotate(5.14rad); transform: rotate(5.14rad);
                     width: 27px; height: 24px; left: 286.83px; top: 191.44px;}

                     #stuntwarped .w9 {-moz-transform: rotate(4.89rad);-webkit-transform: rotate(4.89rad);-o-transform:
                     rotate(4.89rad);-ms-transform: rotate(4.89rad); transform: rotate(4.89rad);
                     width: 0px; height: 24px; left: 311.5px; top: 156.79px;}

                     #stuntwarped .w10 {-moz-transform: rotate(4.73rad);-webkit-transform: rotate(4.73rad);-o-transform:
                     rotate(4.73rad);-ms-transform: rotate(4.73rad); transform: rotate(4.73rad);
                     width: 0px; height: 24px; left: 313.94px; top: 133.94px;}

                     #stuntwarped .w11 {-moz-transform: rotate(4.56rad);-webkit-transform: rotate(4.56rad);-o-transform:
                     rotate(4.56rad);-ms-transform: rotate(4.56rad); transform: rotate(4.56rad);
                     width: 0px; height: 24px; left: 312.41px; top: 108.62px;
}




