 <div class="left-sideimg">
<div class="comments">

        <div class="commentsfrommembers">
        <div class="comment">
        This was my first stunt class! I had a great time and will look forward to the next one!
        </div>
        <hr>
            <div class="comment">
        When will the next workshop be?
            </div>
        <hr>
            <div class="comment">
        I can't wait to see you all next time!
            </div>
        <hr>
            <div class="comment">
        There will be a stunt audition next month for feature being shot in Austin and Houston. Keep training and I will plan the next workshop a.s.a.p.
            </div>
        </div>
    </div>
</div>
