 <div class="left-sideimg">
<div class="comments">

        <div class="commentsfrommembers">
        <div class="commentheader">
        <p>Stage Combat Training</p>
        <p>April 1, 2015 4pm-6pm<p>
        </div>
        <hr>
        <div class="comment">
        This will be my first stunt class! Super excited!
        </div>
        <hr>
            <div class="comment">
        Looking forward to meeting you!
            </div>
        <hr>
            <div class="comment">
        See you all soon!
            </div>
        <hr>
            <div class="comment">
        There will be a stunt audition next month for feature being shot in Austin and Houston. Keep training and I will plan the next workshop a.s.a.p.
            </div>
        </div>
        <div class="lastUnit attendee-section">
        <div class="rsvpbox">
            <h3> Are you going?</h3>
           <!--  <label id="primaryRsvplabel" for="rsvpYes" class="display-none">Are you going? Yes</label> -->
            <button class="primary" id="rsvpYes" aria-labelledby="primaryRsvplabel">Yes</button>
           <!--  <label id="primaryRsvplabel" for="rsvpYes" class="display-none">Are you going? No</label> -->
            <button class="secondary" id="rsvpNo" aria-labelledby="secondaryRsvplabel">No</button>
        </div>
        <hr>
        <div class="full-attendee-list">
        <div class="doc-content event-attendees">
        <h3> 4 Going</h3>
        </div>
        </div>
    </div>
</div>
