<header>
    <div class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>

<div class="opening">
    <div id="splitlayout" class="splitlayout">
        <div class="homepage">
            <div class="side side-left">
              <div class="intro-content">
                <div class="markHomepage">
                </div>
                <h1><span>Mark Chavarria</span></h1>
                <span>Stunt Man | Stunt Coordinator</span>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="side side-right">
          <div class="intro-content">
            <div class="classHomepage">
                <img src="http://i.ytimg.com/vi/KyKdRuP2Veg/maxresdefault.jpg">
            </div>
            <h1><span>Stunt Training</span></h1>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</div>
