<header>
    <div class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>

<div class="opening">
    <div id="splitlayout" class="splitlayout">
        <div class="homepage">
            <div class="side side-left">
              <div class="intro-content">
                <h1><span>MARK</span></h1>
                <h1><span>CHAVARRIA</span></h1>
                <span id="subtext">STUNT MAN | STUNT COORDINATOR</span>
                <i class="fa fa-chevron-circle-left fa-3x"></i>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="side side-right">
            <div class="classHomepage">
            </div>
            <div class="intro-content">
            <h1><span>STUNT</span></h1>
            <h1><span>TRAINING</span></h1>
            <i class="fa fa-chevron-circle-right fa-3x"></i>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</div>
