
<div class="opening " >

    <div id="splitlayout" class="splitlayout ">
        <div class="homepage ">
            <div class="side fadeIn side-left ">

                 <!-- <i class="fa fa-bars" id="threelinebtnright"></i> -->

                <div class="intro-content right">

                     <div id='markwarped'>
                     <span class='w0'>M</span>
                     <span class='w1'>A</span>
                     <span class='w2'>R</span>
                     <span class='w3'>K</span>
              </div>
                    <span class="subtext">
                    <p class="stuntman">STUNT MAN</p>
                    <p class="stuntcoordinator"> STUNT COORDINATOR</p>
                    </span>
                    <div id='chavarriawarped'>
                     <span class='w0'>
                     </span>
                     <span class='w1'>C</span>
                     <span class='w2'>H</span>
                     <span class='w3'>A</span>
                     <span class='w4'>V</span>
                     <span class='w5'>A</span>
                     <span class='w6'>R</span>
                     <span class='w7'>R</span>
                     <span class='w8'>I</span>
                     <span class='w9'>A</span><span class='w10'>
                     </span><span class='w11'>
                     </span>
              </div>
               <div class="btn">
                    <a href="#viewMark" name="leftbtn"><i class="fa fa-chevron-left fa-2x"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="overlay"></div>

        <div class="side fadeIn side-right">
            <div class="classHomepage">
                <div class="intro-content left ">
                     <div id='stuntwarped'>
                     <span class='w0'></span>
                     <span class='w1'>S</span>
                     <span class='w2'>T</span>
                     <span class='w3'>U</span>
                     <span class='w4'>N</span>
                     <span class='w5'>T</span>
                     <span class='w6'></span>
                     <span class='w7'></span>
                     </div>
                    <span class="subtext">
                    <p class="stuntman">WITH</p>
                    <p class="stuntcoordinator">MARK CHAVARRIA</p>
                    </span>
                     <div id='trainingwarped'>
                     <span class='w0'> </span>
                     <span class='w1'>T</span>
                     <span class='w2'>R</span>
                     <span class='w3'>A</span>
                     <span class='w4'>I</span>
                     <span class='w5'>N</span>
                     <span class='w6'>I</span>
                     <span class='w7'>N</span>
                     <span class='w8'>G</span>
                     <span class='w9'>
                     </span><span class='w10'>
                     </span>
              </div>
                    <div class="btn">
                        <a href="#viewClasses" name="rightbtn"><i class="fa fa-chevron-right fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="overlay"></div>
        </div>

        <div class="page page-right page-large">
            <div class="page-inner">
            </div>
        </div>
        <div class="page page-left page-fill">
            <div class="page-inner">
            </div>
        </div>
        <a href="#" class="back back-right" title="back to intro">→</a>
        <a href="#" class="back back-left" title="back to intro">←</a>
    </div>
</div>





