<div class="login-signupview">
    <form class="loginandsignup">
        <h2> Log In </h2>
        <div>
            <input type="email" placeholder=" " name="loginname" required>
        </div>
        <div>
           <input type="email" placeholder=" " name="loginemail" required>
        </div>
        <button><a href="#comments" class="signup-btn" id="signupbtn"> Log in</a></button>
        <p> Not registered with us yet?</p>
        <p> Sign up using your email address</p>
        <div>
            <input type="text" placeholder="Your name" name="yourname" required>
        </div>
        <div>
            <input type="email" placeholder="email" name="email" required>
        </div>
        <div>
            <input type="password" placeholder="password" name="password1" required>
        </div>
        <div>
            <input type="password" placeholder="repeat password" name="password2" required>
        </div>
        <button><a href="#comments" class="signup-btn" id="signupbtn"> Sign up</a></button>
    </form>
</div>
