<!-- <div id="marklrgpagemenu">
    <div class="lrgpageimage">
        <div class="marknav-btn">
            <a href="#"><i class="fa fa-times fa-2x" id="x" ></i></a>
        </div>
        <div class="markpagemenu">
            <ul>
                <li id="storyli">STORY</li>
                <li>GALLERY</li>
                <li>FILMOGRAPHY</li>
                <li>CONTACT</li>
            </ul>
        </div>
    </div>
</div>
<div class="menudivisions">
    <section class="storydiv">
        <div class="undowrapper">

            <h2>STORY</h2>
            <hr class="colored">
            <span class= "markheadshot"></span>
            <p class="markparagraphs" id ="pone">Mark Chavarria first got his start in the entertainment industry in 1985, on the comedy sequel "They Still Call Me Bruce", and ever since has not stopped.  Mark made his dream of working in Hollywood come true and has worked in the film industry for over 20 years. He has over 100 projects to his name including TV shows, feature films, music videos, industrials and accident re-creations for litigation and live shows.  His passion for perfection has led him to a great safety record and an incredible resume that includes some of the biggest features in Hollywood: INCEPTION, TERMINATOR SALVATION, IRONMAN, OCEAN'S 13, TRANSFORMERS AGE OF EXTINCTION, SONS OF ANARCHY, WALKER TEXAS RANGER, AMERICAN HORROR STORY, AMERICAN CRIME, just to name a few. </p>

<p class="markparagraphs" id="ptwo">Mark has worked with some big names in the music video world as well; George Strait, U2, Paulina Rubio and Beyoncé among others.  With a background in tae kwon do, karate, aikido and various mixed sports such as football, soccer, and basketball, Mark has furthered his career in the film world.  Over the past 20 plus years, he has travelled extensively, working with renowned celebrities such as Robert DeNiro, Jack Nicholson, Sean Penn, Leonardo DiCaprio, Christian Bale, Mark Wahlberg, Steven Seagal, Sylvester Stallone, Billy Bob Thornton, Kathy Bates, and Martin Sheen. </p>
<p class="markparagraphs" id="pthree">As if his impressive journey working in the film industry wasn’t enough, Mark recently beat stage 4 colorectal cancer, and is now a cancer survivor.  Mark had a 16% chance of surviving; due to a combination of treatments that included natural medicines, his diet and exercise, Mark did something practically unheard of: he beat cancer in less than 10 months.  Now Mark is helping others battle cancer with workout videos he has created to help motivate and encourage them.
Mark is also a personal trainer and a stunt trainer and is available to train anyone needing to increase their competitive game on the big screen or who wants an alternative way to get in shape. So if your next project needs stunts, stunt coordination or stunt equipment, Mark has the experience, the right people and the right equipment for your project.
</p>
        </div>
    </section>
    <section class="gallerydiv">
        <div class="wrapper">
            <h1>GALLERY</h1>
            <div id="player"> </div>

        </div>
    </section>
    <section class="filmographydiv" id="filmdiv">
        <div class="wrapper">
            <h1>FILMOGRAPHY</h1>
            <img src="../Images/IMDb.png">
            <img src="http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX148_CR0,0,148,200_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMTczNTI2ODUwOF5BMl5BanBnXkFtZTcwMTU0NTIzMw@@._V1_SX148_CR0,0,148,200_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMTQ3MDc0MDc1NF5BMl5BanBnXkFtZTYwODI1ODY2._V1_SX148_CR0,0,148,200_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BODE1MTM1MzA2NF5BMl5BanBnXkFtZTcwODQ5MTA2Mg@@._V1_SY200_CR0,0,148,200_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMTUwNzIwMDY0OF5BMl5BanBnXkFtZTcwMzM3Njg2Mw@@._V1_SY317_CR0,0,214,317_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMTU5MzI1Mzg0NF5BMl5BanBnXkFtZTcwNDQ4NTk5NA@@._V1_SY317_CR16,0,214,317_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMTAzOTQ5Nzg4MzheQTJeQWpwZ15BbWU2MDQwODAxNw@@._V1_SY317_CR0,0,214,317_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMjAyNTI1NDg1MV5BMl5BanBnXkFtZTcwNzE2NTg1MQ@@._V1_SY317_CR1,0,214,317_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMTkxNjIyNjE5OF5BMl5BanBnXkFtZTcwMTI3NzkxOQ@@._V1_SX214_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMjI5ODk1NzA2OV5BMl5BanBnXkFtZTgwNzM3NjQ0MDE@._V1_SY317_CR11,0,214,317_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMjE5NTExNDc5MF5BMl5BanBnXkFtZTcwMjc1NzAwOQ@@._V1_SY317_CR3,0,214,317_AL_.jpg">
            <img src="http://ia.media-imdb.com/images/M/MV5BMjEwNTg1MTA5Nl5BMl5BanBnXkFtZTgwOTg2OTM4MTE@._V1_SX214_AL_.jpg">
        </div>
    </section>
    <section class="contactdiv">
        <div class="wrapper">
            <h1>CONTACT</h1>
        </div>
    </section>
</div>
 -->