<div id="marklrgpagemenu">
    <div class="lrgpageimage">
        <div class="marknav-btn">
            <span>  <i class="fa fa-bars" id="threeline-btn"></i></span>
        </div>
        <div class="markpagemenu">
            <ul>
                <li id="storyli"> STORY</li>
                <li>GALLERY</li>
                <li>FILMOGRAPHY</li>
                <li>CONTACT</li>
            </ul>
        </div>
    </div>
</div>
<div class="menudivisions">
    <section class="storydiv">
    <div class="wrapper">
        <h1>STORY DIVISION</h1>
        </div>
    </section>
    <section class="gallerydiv">
    <div class="wrapper">
        <h1>GALLERY DIVISION</h1>
        </div>
    </section>
    <section class="filmographydiv">
    <div class="wrapper">
        <h1>FILMOGRAPHY DIVISION</h1>
        </div>
    </section>
    <section class="contactdiv">
    <div class="wrapper">
        <h1>CONTACT</h1>
        </div>
    </section>
</div>
