<div id="traininglrgpagemenu">
    <div class="traininglrgpageimage">
        <div class="trainingnav-btn">
            <span>  <i class="fa fa-bars" id="threeline-btn"></i></span>
        </div>
        <div class="trainingpagemenu">
            <ul>
                <li id="trainingli"> UPCOMING WORKSHOPS</li>
                <li>GALLERY</li>
                <li>JOIN THE CONVERSATION</li>
                <li>CONTACT</li>
            </ul>
        </div>
    </div>
</div>
<section class="menusections">
    <section class="storydiv">
        <div class="stuntwrapper">
            <h2> TEX MEX STUNTS</h2>
            <h1>UPCOMING WORKSHOPS</h1>
            <i class="fa fa-map-marker">
        <p>4oz Fight Club
10541 FM 1960 Rd W
Houston, TX 77070</p></i>
            <i class="fa fa-clock-o">
        <p>April 1, 2015</p>
        <p> 4pm-6pm</p>
        </i>
            <div id="map">
                map goes here
            </div>
            <form class="register">
                <div>
                    <input type="email" placeholder="email" name="email" required>
                </div>
                <div>
                    <input type="text" placeholder="name" name="name" required>
                </div>
                <button><a class="register-btn" id="classregisterbtn"> Register</a></button>
        </div>
    </section>
    <section class="gallerydiv">
        GALLERY DIVISION
    </section>
    <section class="filmographydiv">
        <div class="wrapper">
            <h1>JOIN THE CONVERSATION</h1>
            <form class="login_signup signup">
                <h2> Log In </h2>

                <button><a href="#signuplogin" class="signup-btn" id="signupbtn"> Log in</a></button>

                <button><a href="#signuplogin"class="signup-btn" id="signupbtn"> Sign up</a></button>
            </form>
        </div>
    </section>
    <section class="contactdiv">
        <div class="wrapper">
            <h1>CONTACT </h1>
        </div>
    </section>
</section>
