<div id="traininglrgpagemenu">
    <div class="traininglrgpageimage">
        <div class="trainingnav-btn">
            <span>  <i class="fa fa-bars" id="threeline-btn"></i></span>
        </div>
        <div class="trainingpagemenu">
            <ul>
                <li id="trainingli"> UPCOMING WORKSHOPS</li>
                <li>GALLERY</li>
                <li>JOIN THE CONVERSATION</li>
                <li>CONTACT</li>
            </ul>
        </div>
    </div>
</div>
<div class="menudivisions">
    <div class="storydiv">
        UPCOMING WORKSHOPS DIV
    </div>
    <div class="gallerydiv">
        GALLERY DIVISION
    </div>
    <div class="filmographydiv">
        JOIN THE CONVERSATION DIVISION
    </div>
    <div class="contactdiv">
        CONTACT DIVISION
    </div>
</div>

