<div id="traininglrgpagemenu">
    <div class="traininglrgpageimage">
        <div class="trainingnav-btn">
            <span>  <i class="fa fa-bars" id="threeline-btn"></i></span>
        </div>
        <div class="trainingpagemenu">
            <ul>
                <li id="trainingli"> UPCOMING WORKSHOPS</li>
                <li>GALLERY</li>
                <li>JOIN THE CONVERSATION</li>
                <li>CONTACT</li>
            </ul>
        </div>
    </div>
</div>
<section class="menusections">
    <section class="storydiv">
        <div class="stuntwrapper">
            <h2> TEX MEX STUNTS</h2>
            <h1>UPCOMING WORKSHOPS</h1>
            <div class="empty"></div>
            <div class="marker">
                <i class="fa fa-info-circle" ></i>
                <p class="fadetails">Stage Combat Training</p>
                <p class="fadetails">$40 cash</p>
                <p class="fadetails">$45 online/credit card</p>
                <i class="fa fa-clock-o"> </i>
                <p class="locationtime" id="fadate">April 1, 2015</p>
                <p class="locationtime" id="fatime"> 4pm-6pm</p>
            <div class="trainingtime">
              <i class="fa fa-map-marker"></i>
                <p class="locationtime" id="faplace">4oz Fight Club </p>
                <p class="locationtime" id="faaddress">10541 FM 1960 Rd W </p>
                <p class="locationtime" id="faaddresscity">Houston, TX 77070</p>
            </div>
            </div>

            <div id="map" class="map">
                map goes here
            </div>
            <form class="register">
                <button id="classregisterbtn"><a class="register-btn" > Register</a></button>
        </div>
    </section>
    <section class="gallerydiv">
        <!--   GALLERY DIVISION -->
    </section>
    <section class="filmographydiv">
        <div class="wrapper">
            <h1>JOIN THE CONVERSATION</h1>
            <form class="login_signup signup">
                <!-- <h2> Log In </h2> -->
                <button><a href="#signuplogin" class="signup-btn" id="signupbtn"> Log in</a></button>
                <button><a href="#signuplogin" class="signup-btn" id="signupbtn"> Sign up</a></button>
            </form>
        </div>
    </section>
    <section class="contactdiv">
        <div class="wrapper">
            <h1>CONTACT </h1>
        </div>
    </section>
</section>
